ctmArtifacts.tar
/.project
/.DS_Store
.DS_Store
/.pydevproject
3-infrastructure-as-code-examples/kubernetes-agent-application-pods/Images/runKjobConnectionProfile.png
6-ide-integrations/integration-via-marketplace/vscode/job-as-code-0.1.7.vsix
/*.vsix
6-ide-integrations/integration-via-marketplace/vscode/node_modules
6-ide-integrations/integration-via-marketplace/vscode/package-lock.json
6-ide-integrations/integration-via-marketplace/vscode/.vscodeignore
.gitignore
6-ide-integrations/integration-via-marketplace/vscode/out/*
