.my-border{
    border-radius: .25rem !important;
}
.trash-btn{
    padding: 0px;
    margin-left: 5px;
    font-size: 24px;
    color: crimson;
    vertical-align: top;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    display: inline-block;
}
.environment-fields{
    width: 80%;
    height: 80%;
    display: inline-block;
}

.bound{
    margin-top: 35px;
    margin-bottom: 30px;
    width: 80%;
    height: 1px;
    background-color: blue;
}