.doc {
    height: 100vh;
}

.main-container{
    display: flex;
    height: 100%;
}

.env-credentials-text, .env-data {
    margin-top: 5%;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2%;
}

.env-name {
    font-weight: bold;
    font-size: 24px;
    color: #FE5000;
}

.environment-name-select{
    width: 255px;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.show-environment-already-exist-error-text-container{
    width: 100%;
    align-self: center;
}

.show-environment-already-exist-error-close-btn-container{
    align-self: center;
}

.show-environment-already-exist-error{
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 25px;
    width: 100%;
    background: #FF381C;
    position: relative;
}

.show-environment-already-exist-error-text{
    color: white;
}

.environment {
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
    height: 100%;
    width: 100%;
    background-color: #F8F9FAAB;
}

.inputs {
    width: 540px;
}

.two-inputs {
    display: flex;
    justify-content: space-between;
}

.modal-env-name{
    color: #fe5000;
    font-size: 18px;
}

.environment-name-container{
    display: flex;
    justify-content: space-between;
}

.inactive-btn{
    pointer-events: none;
    background-color: gray !important;
}

.default-btn:hover{
    background: #fe5000ab;
}
.default-btn {
    padding: 1.5% 7% 1.5% 7%;
    background-color: #fe5000;
    color: white;
    border: 0;
    border-radius: .35rem;
}

.delete-btn-container{
    width: 100%;
    text-align: center;
}

.delete-btn{
    border: 0px;
    background-color: transparent;
    text-align: center;
}

.delete-img{
    vertical-align: sub;
    margin-right: 7px;
}

.modal-close-btn {
    width: 100%;
    height: 15px;
    margin-top: 25px;
    /*background: #00000000;*/
    display: block;
}

.modal-close-img {
    margin-right: 25px;
    float: right;
    width: 15px;
    height: 15px;
}

.environment-save{
    margin-top: 3%;
}

.display-flex{
    display: flex;
    width: 100%;
}

.margin-left-auto{
    margin-left: auto;
}

button,input:focus{
    outline: none !important;
}

span {
    font-size: 14px;
    font-family: Lato, sans-serif;
    color: #414042;
}

