.menu {
    box-shadow: 0 4px 20px #000000;
    height: 100%;
    width: 20%;
    min-width: 235px;
}

.logo {
    height: 40px;
    width: 95px;
    margin: 20% 0 20% 15%;
}

.new-environment-btn {
    color: #fe5000;
    background: white;
}
