.menu-btn{
    text-align: left;
    width: 100%;
    border: none;
    padding: 7% 0 7% 15%;
}
.menu-btn:hover{
    background: #fe5000ab;
}
.active-button{
    background: #fe5000;
    color: white;
}
.non-active-button{
     background: #00000000;
    color: #000000;
 }